.textarea-wrapper {
    display       : flex;
    flex-direction: column;
    margin-bottom : 1rem;

    .textarea-label {
        font-weight  : 100;
        margin-bottom: 0.25rem;
        color        : var(--color-one);
        .required {
            color      : red;
            margin-left: 0.25rem;
        }
    }

    .textarea-input {
        padding      : 0.75rem;
        font-size    : 1rem;
        border       : 1px solid #ccc;
        border-radius: 5px;
        resize       : vertical;
        transition   : border-color 0.2s ease;

        &:focus {
            // border-color: #007bff;
            outline: none;
        }

        &:disabled {
            background-color: #f9f9f9;
            cursor          : not-allowed;
        }
    }
}