* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    transition: all linear 0.5s;
}

.wrapper-row {
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.wrapper-sidebar {
    background-color: white;
    position: fixed;
    width: 280px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    transition: transform 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.1);
}

.wrapper-sidebar.close {
    transform: translateX(-280px);
}

/* Content */
.wrapper-box {
    width: 100%;
    position: relative;
    margin-left: 280px;
    transition: margin-left 0.5s ease-in-out;
}

.wrapper-box.open {
    margin-left: 280px;
}

.wrapper-box.close {
    margin-left: 0;
}

/* Header */
.wrapper-header {
    background-color: red;
    width: 100%;
    top: 0;
    padding: 10px;
}

.wrapper-header button {
    padding: 10px 20px;
    font-size: 1em;
    text-transform: capitalize;
    cursor: pointer;
    transition: background 0.3s ease;
}

.wrapper-header button:hover {
    background: rgba(0, 0, 0, 0.1);
}