* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.wrapper {
  display: block;
  overflow: hidden;
  position: relative;

  .wrapper_box {
    display: flex;
    background-color: #ebebeb;
    padding: 10px;
    height: 90vb;
    position: relative;
    // sidebar

    // sidebar
    .wrapper_content {
      width: 100%;
      padding: 20px;
      // margin-left: 250px;
    }
  }
}

// .model-container {
//   display: none;
//   overflow: hidden;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 1000;
//   align-content: center;
//   justify-items: center;
//   .model-content {
//     background-color: #fff;
//     padding: 20px;
//     border-radius: 8px;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     gap: 20px;
//   }
//   .model-open {
//     display: block;
//   }
//   .model-close {
//     display: none;
//   }
//

// wrapper side bar

// left header  design
// TableWithSelectAll.scss

.select-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;

  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }

  thead {
    background-color: #f4f4f4;
  }

  tbody tr:hover {
    background-color: #f9f9f9;
  }

  tbody tr.selected {
    background-color: #d0ebff;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
