@import "./common/index";
@import "./Auth/index";
@import "./DeafultLayout/DeafultLayout";
* {
  margin: 0px;
  padding: 0px;
}

:root {
  --primary-color: #{#6560f0};
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  font-size: 1em;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  height: 2px;
  width: 4px;
  border-radius: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #03c8ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32f1ff;
}
