.cardOne_container {
  width: 100%;
  position: relative;
  display: block;
  border-radius: 8px;
  overflow: hidden;
  border-left: 1px solid var(--primary-color);
  background-image: linear-gradient(to right, #6560f01a, white);

  .cardone_row {
    padding: 15px 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: flex-end;

    .cardoneright {
      margin: 0px 10px;
    }
    .cardoneleft {
      margin: 0px 10px;
    }
  }
}
